*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.hero{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    background-image: url(https://media4.giphy.com/media/l0K43RPRCJ5BQIUJW/giphy.gif?cid=ecf05e47sogq1655ry96paxybmcxu89k2a0uxf74zxd6w7e5&rid=giphy.gif&ct=g);
    background-position: center;
    background-size: 70%;
    color: #fff;
    padding: 0 8%;

}